h1 { font-family: 'Courier New', Courier, monospace; 
    font-size: 2em; 
    color: #185b83; 
    text-align: center; 
    margin-top: 1em;
    font-variant: small-caps;
    border-style: double;
    border-color: aqua;
}

.logga{  
    left: 0.5em;
    top: 0.5em;
    z-index: 0;
    width:5.1em;
    background-color: rgb(25, 66, 0);
    position: fixed;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #afc7d5;
    overflow: hidden;
}

li {
    float: left;
    margin: auto;
    padding: 0em 4em;
    border-right-style: solid;
    border-right-color: black;
}

li a {
    display: block;
    color: #185b83;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h2 {
    text-align: center;
}