header{
    margin-bottom: -7em;
}

h1 { font-family: 'Courier New', Courier, monospace; 
    font-size: 2em; 
    color: #9b6448; 
    text-align: center; 
    margin: 1em 0em 0em 4em;
    font-variant: small-caps;
    border-style: double;
    border-color: #946836;
    padding: 1em;
}

.logga{  
    width: 6.8em;
    position: relative;
    bottom: 7em;
    border-radius: 50%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f0deb6;
    display: flex;
    justify-content: center;
}

ul li {
    flex-grow: 1;
}

ul li a {
    display: block;
    color: #9b6448;
    text-align: center;
    padding: 1.5em 4em;
    text-decoration: none;
    border-style: none solid none solid;
    border-color: #9b6448;
}

ul li a:hover {
    background-color: #9b6448;
    color: white;
}
